*
{
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Metrophobic', Arial, serif; font-weight: 400;
}

body
{
  background-color: #001c1c;
  padding: 20px;
}

header,
section,
footer
{
  text-align: center;
  background-color: #666666;
  border-radius: 15px;
  padding:30px;
}

header,
footer
{
  width: 100%;
  padding: 40px;
}

header,
section,
footer
{
  margin-bottom: 5px;
}

h1
{
  margin: 0;
}

body{
  font-family:arial,sans-serif;
    }

#nave{
  with:100%;
  height:120px;
  background:url(http://cdn.revistagq.com/uploads/images/thumbs/201252/los_100_mejores_hoteles_del_mundo_6554_645x485.jpg);
  background-size:cover;
  border-radius: 15px;
}
#nave_wrapper{
  width:1100px;
  height:80px;
  background:#377D7A;
  margin-left:auto;
  margin-right:auto; 
  margin-top:0px;
  opacity:0.7;
  filter:alpha (opacity=70)/*IE8 earlier */
}

#nave_wrapper ul li{
  list-style:none;
  display:inline;
  font-weight:bold;
  padding:50px;
 
}
#nave_wrapper a{
  color:white;
  text-decoration:none;
  padding:10px
}
/*seleccion menu*/
#nave_wrapper ul li:hover{
  background:#22e5db;
  transition:all 0.45s;
  opacity:0.9s;
  border-radius: 15px;
  filter:alpha (opacity=90)/*IE8 earlier */ 
    
}




section
{
  float: center;
  width: calc(99% - 100px);
  margin: 0 50px 50px 50px;
}

footer
{
  clear: both;
  
}

/*Menu de opciones*/
/* Left column (menu) */
.left {
  flex: 15%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}


/* Estilo el menú de navegación dentro de la columna izquierda */
* {
  box-sizing: border-box;
}

/* Crear un diseño de columna con Flexbox */
.row {
  display: flex;
}

/* Columna izquierda (menú) */
.left {
  flex: 25%;
  padding: 1px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Columna derecha (contenido de la página) */
.center {
  flex: 5%;
  padding: 1px;
  }

.right {
  flex: 75%;
  padding: 1px;
  }

/* color marco del buscador*/
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  color: black;
  border:1px solid #ddd;
}

/* Estilo el menú de navegación dentro de la columna izquierda */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* color texto */
#myMenu li a {
  backgrxound-color: #000000;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
/* color selector Menu seccion */
#myMenu li a:hover {
  background-color: #eee;
}



/*tamaño caja mensaje*/
.form__fieldset{
  max-width: 1300px;
 }
/*titulo*/
.form__legend {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
/*igualar texto y cajas*/
.form__row {
  margin-bottom: 0.2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}
/*cajas*/
.form__label {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: black;
  flex: 1 0 120px;
  max-width: 400px;
}

/*tamaño= cajas*/
.form__textinput, .form__textarea {  
  flex: 1 0 300px;
  max-width: 500px;
  box-sizing: border-box;
  
  }

/*Borde cajas*/
.form__textinput:focus:invalid,
.form__textarea:focus:invalid {
    border: 2px solid red;
  font-size: 18px;
  color: black;
}
/*Borde cajas ya contestadas*/
 .form__textinput:valid ,
 .form__textinput:focus:valid ,
.form__textarea:valid ,
.form__textarea:focus:valid  {
  border: 2px solid green;
  font-size: 15px;
  color: black;
}

.form__textarea {
  height: 90px;
  
 }





